<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border: 1px solid #000;
        }

        th, td {
            border: 1px dotted #555;
        }
    </style>
</head>
<body>
<a href="/create">CREATE NEW MUSIC </a>
<h1>Music Design</h1>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name Music</th>
        <th>Singer</th>
        <th>Type Music</th>
        <th>Edit</th>
    </tr>
    <th:block th:each = "music: ${music}">
        <tr>
            <td th:text="${music.id}"></td>
            <td th:text="${music.nameMusic}"></td>
            <td th:text="${music.singer}"></td>
            <td th:text="${music.typeMusic}"></td>
            <td><a th:href="@{/update/{id}(id=${music.id})}" >Edit</a></td>
        </tr></th:block>
</table>
</body>
</html>